<footer class="footer-section">
  <div class="center-block">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-column">
          <a href="./index.html" class="footer-logo">
            <img src="./images/logo-white.svg" alt="Global Mito Logo" loading="lazy" />
          </a>
          <div class="footer-copyright-desktop">
            <div class="footer-address-text">
              <span>VILAVI INT LTD</span>
              <span>Andreas Zakou 2-202, Nicosia,&nbsp;2404</span>
              <span>info@vilavi.com</span>
            </div>
            <div class="footer-policy-text">
              <a href="./privacy.html">Privacy Policy</a>
              <a href="./cookies.html">Cookies Policy</a>
            </div>
          </div>
        </div>
        <div class="footer-column">
          <ul class="footer-links">
            <li><a href="./callForEntries.html" class="footer-link">Call For Entries</a></li>
            <li><a href="./whoWeAre.html" class="footer-link">Who We Are</a></li>
            <li><a href="./projectTeam.html" class="footer-link">Project team</a></li>
            <li><a href="./history.html" class="footer-link">History</a></li>
            <li><a href="./partners.html" class="footer-link">Partners</a></li>
            <li><a href="./whatWeDo.html" class="footer-link">What We do</a></li>
            <li><a href="./program.html" class="footer-link">Program</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <ul class="footer-links">
            <li><a href="./thinkTank.html" class="footer-link">Think Tank 2025 (online)</a></li>
            <li>
              <a href="./globalMito.html" class="footer-link">GlobalMito Conference (Dubai)</a>
            </li>
            <li><a href="./community.html" class="footer-link">Community</a></li>
            <li><a href="./knowledge.html" class="footer-link">Knowledge Base</a></li>
            <li><a href="./contacts.html" class="footer-link">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-column">
          <ul class="social-links">
            <li>
              <a href="www.linkedin.com/in/global-mito-644562389" class="social-link">
                <img src="./images/LinkedIn.svg" alt="LinkedIn" loading="lazy" />
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/share/1CCon3gGsX/?mibextid=wwXIfr"
                class="social-link">
                <img src="./images/Facebook.svg" alt="Facebook" loading="lazy" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/global_mito2026/" class="social-link">
                <img src="./images/Instagram.svg" alt="Instagram" loading="lazy" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright-mobile">
        <div class="footer-address-text">
          <span>VILAVI INT LTD</span>
          <span>Andreas Zakou 2-202, Nicosia,&nbsp;2404</span>
          <span>info@vilavi.com</span>
        </div>
        <div class="footer-policy-text">
          <a href="./privacy.html">Privacy Policy</a>
          <a href="./cookies.html">Cookies Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
