<div class="move-line">
  <div class="move-line-content">
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
    <span>GlobalMito comming november 2026</span>
  </div>
</div>
<header class="header-section">
  <div class="header-container">
    <a href="./index.html" class="logo">
      <img src="./images/logo-color.svg" alt="Global Mito Logo" loading="lazy" />
    </a>
    <nav class="navigation desctop-navigation">
      <ul class="nav-list">
        <li><a href="./callForEntries.html" class="nav-link">Call For Entries</a></li>
        <li class="nav-item dropdown">
          <div class="nav-link">
            About Us <img src="./images/arrow.svg" alt="Arrow" class="nav-arrow" />
          </div>
          <ul class="dropdown-menu">
            <li><a href="./whoWeAre.html" class="dropdown-link">Who We Are</a></li>
            <li><a href="./projectTeam.html" class="dropdown-link">Project team</a></li>
            <li><a href="./history.html" class="dropdown-link">History</a></li>
            <li><a href="./partners.html" class="dropdown-link">Partners</a></li>
          </ul>
        </li>
        <li><a href="./whatWeDo.html" class="nav-link">What We do</a></li>
        <li><a href="./program.html" class="nav-link">Program</a></li>
        <li class="nav-item dropdown">
          <div class="nav-link">
            News & Events <img src="./images/arrow.svg" alt="Arrow" class="nav-arrow" />
          </div>
          <ul class="dropdown-menu">
            <li>
              <a href="./thinkTank.html" class="dropdown-link">Think Tank 2025 (online)</a>
            </li>
            <li>
              <a href="./globalMito.html" class="dropdown-link">GlobalMito Conference (Dubai)</a>
            </li>
          </ul>
        </li>
        <li><a href="./community.html" class="nav-link">Community</a></li>
        <li><a href="./knowledge.html" class="nav-link">Knowledge Base</a></li>
        <li><a href="./contacts.html" class="nav-link">Contact Us</a></li>
        <li><a class="register-button">Join</a></li>
      </ul>
    </nav>
    <div class="burger-menu" id="burgerMenu" aria-label="Toggle menu">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>

    <!-- Мобильное меню -->
    <nav class="navigation mobile-navigation" id="mobileMenu">
      <div class="mobile-navigation-overlay" id="mobileOverlay"></div>
      <div class="mobile-navigation-container">
        <div class="wrapper-flex-box">
          <div class="mobile-menu-header">
            <div class="burger-menu mobile-burger-menu" id="mobile-burger-menu">
              <span class="burger-line"></span>
              <span class="burger-line"></span>
              <span class="burger-line"></span>
            </div>
            <a href="./index.html" class="mobile-logo">
              <img src="./images/logo-color.svg" alt="Global Mito Logo" loading="lazy" />
            </a>
          </div>
          <ul class="mobile-nav-list">
            <li><a href="./callForEntries.html" class="mobile-nav-link">Call For Entries</a></li>
            <li class="mobile-dropdown">
              <div class="mobile-nav-link mobile-dropdown-toggle">
                About Us <img src="./images/arrow.svg" alt="Arrow" class="mobile-nav-arrow" />
              </div>
              <ul class="mobile-dropdown-menu">
                <li><a href="./whoWeAre.html" class="mobile-dropdown-link">Who We Are</a></li>
                <li><a href="./projectTeam.html" class="mobile-dropdown-link">Project team</a></li>
                <li><a href="./history.html" class="mobile-dropdown-link">History</a></li>
                <li><a href="./partners.html" class="mobile-dropdown-link">Partners</a></li>
              </ul>
            </li>
            <li><a href="./whatWeDo.html" class="mobile-nav-link">What We do</a></li>
            <li><a href="./program.html" class="mobile-nav-link">Program</a></li>
            <li class="mobile-dropdown">
              <div class="mobile-nav-link mobile-dropdown-toggle">
                News & Events <img src="./images/arrow.svg" alt="Arrow" class="mobile-nav-arrow" />
              </div>
              <ul class="mobile-dropdown-menu">
                <li>
                  <a href="./thinkTank.html" class="mobile-dropdown-link"
                    >Think Tank 2025 (online)</a
                  >
                </li>
                <li>
                  <a href="./globalMito.html" class="mobile-dropdown-link"
                    >GlobalMito Conference (Dubai)</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="./community.html" class="mobile-nav-link">Community</a></li>
            <li><a href="./knowledge.html" class="mobile-nav-link">Knowledge Base</a></li>
            <li><a href="./contacts.html" class="mobile-nav-link">Contact Us</a></li>
          </ul>
        </div>
        <ul class="social-links mobile-social-links">
          <li>
            <a href="www.linkedin.com/in/global-mito-644562389" class="social-link">
              <img src="./images/LinkedIn-dark.svg" alt="LinkedIn" loading="lazy" />
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/share/1CCon3gGsX/?mibextid=wwXIfr"
              class="social-link">
              <img src="./images/Facebook-dark.svg" alt="Facebook" loading="lazy" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/global_mito2026/" class="social-link">
              <img src="./images/Instagram-dark.svg" alt="Instagram" loading="lazy" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
